.container{
	width: 100%;
	background-color: red;
}

#carousel {
		width: 940px;
		
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
	}

	#carousel ul {
		width: 2820px;
		padding: 0;
		margin: 0;
	}

	#carousel ul li {
		width:940px;
		text-align: center;
		height: 380px;
		list-style: none;
		float:	left;
	}



